<html>
  <head>
    <meta nampe="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />

    <!--link for logo's-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

  </head>
  <body id="body">
      <!--site header-->
    <h1 id="header">
      <strong
        >Joi Ride -
        <!--site sub header description-->
        <h2 id="sub_header">About Page</h2></strong
      >
    </h1>
    <!--logo link to home page-->
    <div class="navbar_logo" id="navbar_logo">
        <a href="/" style="color: rgb(250, 144, 83); text-decoration: none">
          <span id="material-icons" class="material-icons"> home </span> HOME
        </a>
      </div>

    <div id="background_box" style="text-indent: 30px;">

        <!--app description-->
      <h2>
        <br>
        <strong>  Joi Ride</strong> is a app targeted for anyone planning a
        roadtip or a vacation.
      </h2>
      <h2>The perfect way to plan your travel itineray.</h2>
      <br><br>
    </div>

    <br><br><br>

    <!--description on how to use functinality in app-->
    <div id="how_to_box">
        <br><br>
        <h2>
          <strong>How to use Joi Ride :</strong> 
          <br><br><br>
          
          <div id=image> 
              <center>
            <img id="image" src="https://lh3.googleusercontent.com/s5xhAWGUUhMAToMzD_b5KlFJLSgvAKpxWmy4Unz8Xqz8uw-ucodA7bLAwNblknuNhUoLpXsnE_aijcVS_p3t5OMjvMTZNOcirVDvDxethtnCHgJ35s-7Uop2EN3VGLQxnB7NFX_ZAmY=w2400" /> 
            </center>
            </div>
        </div>
  </body>
</html>
