<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <meta nampe="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="javascripts/maps.js"></script>
  </head>
  <body class="bg-dark text-light">
    <div class="container">
      <div class="row">
        <h1 class="text-center py-5">Joi Ride</h1>
      </div>

      <div class="row">
        <!-- Map container -->
        <div id="map1" class="col-sm"></div>
        <div id="map" class="col-sm"></div>
        <div class="col-sm">
          <form>
            <input
              type="text"
              name="starting"
              id="starting"
              class="form-control mb-3"
              placeholder="Starting Location"
            />
            <input
              type="text"
              name="destination"
              id="destination"
              class="form-control mb-3"
              placeholder="Destination"
            />

            <label for="key_words"> Choose key words </label>

            <br /><br />

            <label><input type="checkbox" name="test" value="1" />food</label>
            <label
              ><input type="checkbox" name="test" value="2" /> view point
            </label>
            <label><input type="checkbox" name="test" value="3" /> hike </label>
            <label
              ><input type="checkbox" name="test" value="4" /> thrift
            </label>
            <label
              ><input type="checkbox" name="test" value="5" /> beauty
            </label>
            <label
              ><input type="checkbox" name="test" value="6" /> grocery
            </label>
            <label><input type="checkbox" name="test" value="7" /> gas </label>
            <label
              ><input type="checkbox" name="test" value="8" /> historical
            </label>
            <label><input type="checkbox" name="test" value="9" /> bar </label>
            <label
              ><input type="checkbox" name="test" value="10" /> bewery
            </label>
            <label
              ><input type="checkbox" name="test" value="11" /> local
            </label>
            <label
              ><input type="checkbox" name="test" value="12" /> park
            </label>

            <br /><br />

            <input type="submit" class="btn btn-primary mb-3 float-end" />
          </form>

          <button type="button" id="addmarker" class="btn btn-info">
            Add waypoint
          </button>
        </div>
      </div>

      <!-- This should have bg-light added dynamically -->
      <div class="row py-3" id="directionPanel"></div>
    </div>

    <!-- Load scripts -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAaq7utmRxXKf2os3_Y5ILDOLGnG7u5B2A&callback=initMap&libraries=places&v=weekly"
      async
    ></script>
  </body>
</html>
