#map {
  height: 400px;
  width: 1000px;

  align-items: left;
  display: left;
  margin-right: 100px;
}

#body {
  background-color: rgb(36, 167, 167);
}

#info_container {
  background-color: rgb(6, 129, 129);
  border-radius: 25px;
  color: white;
}

#header {
  color: white;
  font-size: 80px;
  padding: 20px;
  margin-left: 100px;
}

#prompt {
  color: rgb(252, 198, 137);
}

#submit {
  background-color: rgb(250, 144, 83);
  outline: 0;
  border: none;
}

#addmarker {
  background-color: rgb(250, 144, 83);
  color: white;
  outline: 0;
  border: none;
}
